<p-dialog [(visible)]="addTicketDialog" [style]="{width: '450px'}" header="Ticket Details" [modal]="true"
    (onHide)="onHide()" class="p-fluid" [closable]="false">
    <ng-template pTemplate="content" [formGroup]="ticketForm">
        <div class="field">
            <label for="add-dialog-task-name">Task Name</label>
            <input type="text" pInputText id="add-dialog-task-name" formControlName="task" required autofocus
                [ngClass]="{'ng-invalid ng-dirty' : submitted && !ticketForm.value.task}" />
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !ticketForm.value.task">task is required.</small>
        </div>
        <div class="field">
            <label for="add-dialog-task-start-time">Start Time</label>
            <p-calendar id="add-dialog-task-start-time" [readonlyInput]="true" formControlName="startTime"
                (onSelect)="setEndTime($event)" [showTime]="true" appendTo="body" [showIcon]="true"></p-calendar>

        </div>
        <div class="field">
            <label for="add-dialog-task-end-time">End Time</label>
            <p-calendar id="add-dialog-task-end-time" [readonlyInput]="true" formControlName="EndTime"
                [minDate]="ticketForm.value.startTime!" [showTime]="true" [maxDate]="maxDate" appendTo="body"
                [showIcon]="true"></p-calendar>

        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideAddTicketDialog()"
            [loading]="saving"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" (click)="addTicket()" [loading]="saving"
            [disabled]="!ticketForm.valid"></button>
    </ng-template>
</p-dialog>
