<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <!-- <p-toast></p-toast> -->
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="Create" icon="pi pi-plus" class="mr-2"
                            (click)="showAddTicketDialog()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <div *ngIf="(tickets$ | async)?.length === 0">
                No data found
            </div>
            <ts-ticket-add [saving]="(saving$ | async)!" [addTicketDialog]="addTicketDialog"
                (close)="hideAddTicketDialog()" (save)="addTicket($event)"></ts-ticket-add>
        </div>
    </div>
</div>
